.dashboard {
    width: 100%;
    height: 100vh;
}

.dashboardContainer {
    height: 94.5vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard h1 {
    font-size: 3vh;
}